@page "/"
@using API.ApiService.DB
@using API.ApiService.Filters
@inject ISaleApiClient SaleApiClient
@rendermode InteractiveServer

<PageTitle>Sale</PageTitle>
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Sale</h1>
</div>

<div class="container my-4">
    <h4>Filtry</h4>
    <div class="row g-2">
        <div class="col-md-3">
            <input class="form-control" @bind="filter.Numer" placeholder="Filtruj po numerze sali" />
        </div>
        <div class="col-md-3">
            <input class="form-control" @bind="filter.Budynek" placeholder="Filtruj po budynku" />
        </div>
        <div class="col-md-3">
            <input class="form-control" @bind="filter.Nazwa" placeholder="Filtruj po nazwie" />
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" @bind="filter.Pietro" placeholder="Filtruj po piętrze" />
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" @bind="filter.Pojemnosc" placeholder="Filtruj po pojemności" />
        </div>
        <div class="col-md-3">
            <select class="form-select" @bind="filter.Projektor">
                <option value="">Projektor</option>
                <option value="HDMI">HDMI</option>
                <option value="VGA">VGA</option>
                <option value="USB">USB</option>
                <option value="HDMI/VGA">HDMI/VGA</option>
                <option value="USB/VGA">USB/HDMI</option>
                <option value="USB/HDMI">USB/VGA</option>
                <option value="USB/HDMI/VGA">USB/HDMI/VGA</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-select" @bind="filter.Tablica">
                <option value="">Tablica</option>
                <option value="Multimedialna">Multimedialna</option>
                <option value="Suchoscierna">Suchościerna</option>
                <option value="Interaktywna">Interaktywna</option>
                <option value="Multimedialna/Suchościerna">Multimedialna/Suchościerna</option>
                <option value="Interaktywna/Multimedialna">Interaktywna/Multimedialna</option>
                <option value="Interaktywna/Suchościerna">Interaktywna/Suchościerna</option>
                <option value="Interaktywna/Multimedialna/Suchościerna">Interaktywna/Multimedialna/Suchościerna</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-select" @bind="filter.Klimatyzacja">
                <option value="">Klimatyzacja</option>
                <option value="1">Tak</option>
                <option value="0">Nie</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-select" @bind="filter.Komputerowa">
                <option value="">Sala komputerowa</option>
                <option value="1">Tak</option>
                <option value="0">Nie</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-select" @bind="filter.Ulica">
                <option value="">Filtruj po ulicy</option>
                <option value="Kilińskiego">Kilińskiego</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-select" @bind="filter.Niepelnosprawni">
                <option value="">Dla Niepełnosprawnych</option>
                <option value="1">Tak</option>
                <option value="0">Nie</option>
            </select>   
        </div>
        
        <div class="col-md-3">
            <select class="form-select" @bind="filter.Dostepnosc">
                <option value="">Dostepność</option>
                <option value="Dostępna">Dostępna</option>
                <option value="Zajęta">Zajęta</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" @onclick="ApplyFilters">Zastosuj Filtry</button>
            <button class="btn btn-danger" @onclick="ResetFilters">Usuń Filtry</button>
        </div>
    </div>
</div>

<div class="container mx-5 my-4">
<table class="table table-striped-columns caption-top">
    <caption>Lista Sal</caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Numer</th>
        <th scope="col">Budynek</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Piętro</th>
        <th scope="col">Pojemność</th>
        <th scope="col">Projektor</th>
        <th scope="col">Tablica</th>
        <th scope="col">Klimatyzacja</th>
        <th scope="col">Sala Komputerowa</th>
        <th scope="col">Ulica</th>
        <th scope="col">Dostępna dla niepełnosprawnych</th>
        <th scope="col">Dostepność</th>
        <th scope="col"></th>
    </tr>

    </thead>
    <tbody>
    @{
        int lp = 1;
    }
    @if (sales is null)
    {
        <p>Brak Sal</p>
    }
    else
    {
        @foreach (var item in sales)
        {
            <tr>
                <th scope="row">@lp</th>
                <td>@item.Numer</td>
                <td>@item.Budynek</td>
                <td>@item.Nazwa</td>
                <td>@item.Pietro</td>
                <td>@item.Pojemnosc</td>
                <td>
                    @if (item.Projektor == 1)
                    {
                        <p>VGA</p>
                    }
                    else if (item.Projektor == 2)
                    {
                        <p>HDMI</p>
                    }
                    else if (item.Projektor == 3)
                    {
                        <p>HDMI<br> VGA</p>
                    }
                    else if (item.Projektor == 4)
                    {
                        <p>USB</p>
                    }
                    else if (item.Projektor == 5)
                    {
                        <p>USB<br> VGA</p>
                    }
                    else if (item.Projektor == 6)
                    {
                        <p>USB<br> HDMI</p>
                    }
                    else if (item.Projektor == 7)
                    {
                        <p>USB HDMI VGA</p>
                    }
                    else
                    {
                        <p>Brak</p>
                    }
                </td>
                <td>
                    @if (item.Tablica == 1)
                    {
                        <p>Multimedialna</p>
                    }
                    else if (item.Tablica == 2)
                    {
                        <p>Suchoscierna</p>
                    }
                    else if (item.Tablica == 3)
                    {
                        <p>Multimedialna Suchościeralna</p>
                    }
                    else if (item.Tablica == 4)
                    {
                        <p>Interaktywna</p>
                    }
                    else if (item.Tablica == 5)
                    {
                        <p>Interaktywna Multimedialna</p>
                    }
                    else if (item.Tablica == 6)
                    {
                        <p>Interaktywna Suchościeralna</p>
                    }
                    else if (item.Tablica == 7)
                    {
                        <p>Interaktywna Multimedialna Suchościeralna</p>
                    }
                    else
                    {
                        <p>Brak</p>
                    }
                </td>
                <td>
                    @if (item.Klimatyzacja == 1)
                    {
                        <p>Tak</p>
                    }
                    else
                    {
                        <p>Nie</p>
                    }
                </td>
                <td>
                    @if (item.Komputerowa == 1)
                    {
                        <p>Tak</p>
                    }
                    else
                    {
                        <p>Nie</p>
                    }
                </td>
                <td>@item.Ulica</td>
                <td>
                    @if(item.Niepelnosprawni == 1)
                    {
                        <p>Tak</p>
                    }
                    else
                    {
                        <p>Nie</p>
                    }
                </td>
                <td>@item.Dostepnosc</td>
                <td>
                    <a class="btn btn-primary mb-2" href='/addSala' role="button">Zarezerwuj</a>
                    <a class="btn btn-warning mb-2" href='/editSala' role="button">Edytuj</a>
                    <button class="btn btn-danger">Usuń Rezerwacje</button>
                </td>
            </tr>
            lp++;
        }
    }
    
    </tbody>
</table>
</div>
@code {
    private List<Sale> sales;
    
    private SaleFilter filter = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            sales = await SaleApiClient.IGetSaleAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Błąd w komponencie: " + ex.Message);
        }
    }

    private async Task ApplyFilters()
    {
        try
        {
            sales = await SaleApiClient.GetFilteredSales(filter);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Błąd przy filtrowaniu: " + ex.Message);
        }
    }

    private async Task ResetFilters()
    {
        filter = new SaleFilter();
        await ApplyFilters();
    }
    /*
    Proejktor:
    0- Brak
    1- ProjektorVGA
    2- ProjektorHDMI
    3- 1+2
    4- ProjektorUSB
    5- 4+1
    6- 4+2
    7- 4+2+1

    Tablica:
    0- Brak
    1- TablicaMultimedialna
    2- TablicaSuchoscierna
    3- 1+2
    4- TablicaInteraktywna
    5- 4+1
    6- 4+2
    7- 4+2+1

    */
}